// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600&display=swap');

// Sizing
$w_sidebar: 250px;
$h_nav: 72px;

// Margins
$m_side: 20px;

// Fonts
$f_login-title: 48px;
$f_login: 14px;
$f_dash-title: 22px;

// Colors
$c_dark: #000000;
$c_dark-alt: #14213d;
$c_light: #ffffff;
$c_light-alt: #e5e5e5;
$c_accent: #fca311;
$c_warning: #d62828;


// Apply to all
* {

    // Sizing
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // Font
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    // Smooth transition
    transition: 0.1s;
}

// Align elements in grid
body {

    // Grid
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}