@import "main";
@import "partials/dashboard";
@import "partials/sidebar";
@import "partials/nav";

.content {
    display: grid;

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: $m_side;

        div {
            height: fit-content;

            &.sales {
                border: 2px solid $c_light-alt;

                p {
                    &.title {
                        background-color: $c_light-alt;
                        padding: 8px;
                    }
                }

                div {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    p {
                        padding-left: 8px;
                    }
                }
            }
        }
    }
}