@import "main";
@import "partials/dashboard";
@import "partials/sidebar";
@import "partials/nav";

table {
    width: 100%;
    height: fit-content;
    padding: 0 $m_side;
    border-collapse: collapse;

    tr {
        
        th {
            text-align: left !important;
            height: 64px;
            background-color: $c_light-alt;

            &:first-child {
                width: 100%;
            }

            &:not(:first-child) {
                padding-right: 32px;
            }
        }

        th, td {
            padding: 10px 0;
            
            &:first-child {
                padding-left: $m_side;
            }

            &.oos {
                color: $c_warning;
                font-weight: bold;
            }

            button {
                background-color: $c_light-alt;
                border: none;
                border-radius: 4px;
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    background-color: $c_accent;
                    color: $c_light;
                }

                &#delete:hover {
                    background-color: $c_warning;
                    color: $c_light;
                }
            }
        }
    }
}