doctype html
html(lang="en")
    head
        include ../partials/head
        link(rel="stylesheet" href="/css/inventory.min.css")
    body
        include ui/sidebar
        include ui/nav
        div.content
            table
                tr
                    th Name
                    th Price
                    th Stock
                    th Adjust
                    th Edit
                    th Delete

                each product in data
                    tr
                        td= product.name
                        td= "£" + product.price.toFixed(2)

                        if product.stock < 1
                            td.oos= product.stock
                        else
                            td= product.stock

                        td #[button#adjust Adjust]
                        td #[button#edit Edit] 
                        td #[button#delete Delete]