doctype html
html(lang="en")
    head
        include partials/head
        link(rel="stylesheet", href="/css/dashboard.min.css")
    body
        include partials/nav
        include partials/sidebar