doctype html
html(lang="en")
    head
        include partials/head
        link(rel="stylesheet" href="/css/register.min.css")
    body
        div.logo 
            p Libre#[span POS]
        div.content
            form.login(method="post" action="/register")
                input(type="location" name="host" placeholder="URL")
                input(type="username" name="username" placeholder="Username")
                input(type="password" name="password" placeholder="Password")
                input(type="password" name="confirm_password" placeholder="Confirm Password")
                input(type="submit" value="Register")
                a(href="/login") Login