div.sidebar
    div.title
        p Libre#[span POS]
    ul
        li
            a(href="/dashboard") Home
            a(href="/dashboard/inventory") Inventory
            a(href="/dashboard/finance") Finance
            a(href="/dashboard/staff") Staff