// Align elements in grid
body {
    grid-template-rows: 1fr auto 1fr;
    background-color: $c_dark-alt;
}


// Top logo
.logo {

    // Positioning
    display: flex;
    align-items: center;
    justify-content: center;

    // Text
    p {
        color: $c_light;
        font-family: "Montserrat";
        font-size: $f_login-title;

        // Accent
        span {
            color: $c_accent;
            font-family: "Montserrat";
        }
    }
}


// Main area
.content {

    // Sizing
    width: 100%;
    height: 100%;

    // Center
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;

    // Login box
    form {

        // Sizing
        display: flex;
        flex-direction: column;
        background-color: $c_light;
        padding: 32px;
        border-radius: 10px;

        // Buttons & inputs
        input {

            // Sizing
            padding: 10px;
            width: 300px;

            // Theming
            border: 2px solid $c_light-alt;
            outline: none;
            border-radius: 5px;
            margin-bottom: 4px;
            font-size: $f_login;

            // Submit button
            &[type=submit] {

                // Theming
                background-color: $c_light-alt;
                cursor: pointer;

                // Accent on hover
                &:hover {
                    background-color: $c_accent;
                    border-color: $c_accent;
                }
            }
        }

        // Register link
        a {

            // Sizing
            padding: 10px;
            width: 100%;
            height: fit-content;

            // Theming
            border-radius: 5px;
            background-color: $c_light-alt;
            text-align: center;
            margin-top: 32px;
            border: 2px solid $c_light-alt;
            font-size: $f_login;
            color: $c_dark;

            // Accent on hover
            &:hover {
                background-color: $c_accent;
                border-color: $c_accent;
            }
        }
    }
}