.nav {

    // Grid
    grid-area: nav;

    // Theming
    background-color: $c_light-alt;
    
    // List
    ul {

        // Sizing
        height: 100%;
        padding: 0 $m_side;

        // Center
        display: flex;
        align-items: center;
        position: relative;

        // Elements
        li {

            // Page title
            &.title {
                font-size: $f_dash-title;
            }
        }

        // Elements on right
        .right {
            position: absolute;
            right: $m_side;

            // Elements
            li {
                display: inline-block;
                padding-left: 10px;

                // Logout
                a {
                    color: $c_dark-alt;
                    text-decoration: underline;

                    // Accent on hover
                    &:hover {
                        color: $c_accent;
                    }
                }
            }
        }
    }
}