.sidebar {

    // Grid
    grid-area: sidebar;

    // Theming
    background-color: $c_dark-alt;

    // LibrePOS logo
    .title {

        // Sizing
        height: $h_nav;
        display: flex;
        align-items: center;
        padding: 0 20px;

        // Text
        p {
            color: $c_light;
            font-family: "Montserrat";
            font-size: $f_dash-title;

            // Accent
            span {
                font-family: "Montserrat";
                color: $c_accent;
            }
        }
    }

    // Sidebar list
    ul {

        // Elements
        li {
            padding: 10px 10px 0 10px;

            // Links
            a {

                // Sizing
                display: block;
                padding: 10px;

                // Theming
                border-radius: 5px;
                color: $c_light;

                // Accent on hover
                &:hover {
                    background-color: $c_accent;
                }
            }
        }
    }
}